# Streamlit
.streamlit/
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
env/
.venv
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
.cache/
*.pyc

# OS
.DS_Store
Thumbs.db

# Local files/data (but save saved_models)
local_data/
firebase-service-account-key.json
rice-leaf-disease-classifier-firebase-adminsdk-fbsvc-15b0ed0c79.json

# Logs
*.log
